.vscode/**
.vscode-test/**
.venv/**
types/**
node_modules/**
out/test/**
src/**
scripts/**
resources/*.gif
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/tsconfig.*.json
**/.eslintrc.json
**/*.config.json
**/*.config.js
**/*.yml
**/*.map
**/*.ts
